@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: url('https://localhivehoney.com/cdn/shop/articles/20220618Blog-SolidHoney1200x630_8a82407f-b697-40bc-b451-d80b0bcef873.jpg?v=1672959070') center center fixed;
    background-size: cover;
    font-family: 'Croissant One', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0px;

    .container {
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.875) 0%, rgba(255, 149, 0, 0.875) 100%);
        animation: degradeBackground 5s infinite alternate;
        padding-top: 8em;
        width: 40%;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    
        h1 {
            text-align: center;
            font-size: 40px;
        }
    
        .title {
            color: #5f2806;
            width: 50%;
            display: block;
            margin: 0px auto;
            margin-bottom: 50px;
        }
    
        form {
            padding: 20px;
            display: inline-block;
    
            input[type="submit"] {
                font-family: 'Croissant One';
                background-color: #DE781F;
                color: #000;
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            
            input[type="submit"]:hover {
                background-color: #f09647;
            }
            
            input[type="file"] {
                display: none;
            }
    
            label {
                background-color: #f09647;
                color: #000;
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            
            label:hover {
                background-color: #DE781F;
            }
        }

        img {
            margin-top: 20px;
            border-radius: 10px;
        }

        .bee {
            width: 8%;
            animation: rotate 4s linear infinite alternate;
        }
        
        .result {
            width: 15%;
            border: #fff solid 3px;
        }

        a {
            display: block;
            text-decoration: none;
            color: #5f2806;
            font-size: 16px;
            margin-top: 50px;
            cursor: pointer;
        }
        
        a:hover {
            color: #7f370b;
        }
    
        .copy {
            font-family: 'Poppins';
            font-size: 15px;
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}